@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using OpenDMS.Domain.Entities;
@model Web.Model.Customize.AvatarViewModel;
@{
    ViewData["Title"] = "Immagine del profilo";
    Layout = "_CustomizeLayout";
    string uid = User.Identity.Name;
    string url = "/internalapi/identity/Avatar/default/0" + uid;
}


<script>

    $(document).ready(function () {
        //SelezionaMenu("fa-table");

        $(function () {

            //Per aggiungere e togliere la classe Active agli elementi della lista laterale
            Carica("liCustomize-Avatar");

            if (`@Model.ErrorMessage` !== '') ShowMessage('alert', `@Html.Raw(Model.ErrorMessage)`, 'Message_Target', 'Customize/Firme');
            if (`@Model.SuccessMessage` !== '') ShowMessage('success', '@Html.Raw(Model.SuccessMessage)', 'Message_Target', null);

            //codice per far svanire i messaggi di successo
            FadeOutSuccessMessagge(3000);

            //Codice per triggerare il form automaticamente
            var InputUpload = document.querySelector("#upload8");
            var form = document.getElementById("UploadAvatarForm")

            InputUpload.addEventListener("change", (event) => {
                form.submit();
            })

        });
    })

    function Redirect(href) {
        window.location = href;
    }

</script>

<style>
    .avatar-grid .avatar:hover {
        border: 2px dashed #06c;
        margin:-2px;
        cursor: pointer;
    }

    .avatar-grid .avatar:focus:not(.focus--mouse), .avatar:target, .avatar:active, .avatar:visited {
        border: 1px solid #995c00 !important;
        box-shadow: 0 0 0 2px #995c00 !important;
        outline: none !important;
    }
</style>
<div class="MainPanel">

    <div class="Header">
        <a href="/Customize/Index" class="Desktop"> <i class="fa fa-bars"></i></a>
        <h1>
            <small>Avatar</small>
            <span>Immagine del Profilo</span>
        </h1>
        <div class="right-header">
            <ul class="nav nav-toolbar">
                <li>
                </li>
            </ul>
        </div>
    </div>
    <div id="Message_Target"></div>

    <div class="Panel">
        <h1>Seleziona una immagine per il tuo profilo</h1>
        <div id="Avatars">
            <ul class="nav nav-list disabled">
                <li class="header">
                    <h6>Le tue immagini</h6>
                </li>
                <li>
                    <div class="mt-2 d-flex flex-wrap gap-4 avatar-grid">
                        <div style="position: relative;width:110px;height:110px;">
                            <div class="avatar" style="width:100px;height:100px;" onclick="Redirect('/Customize/SetAvatar?imagePath=')">
                                <img src="@url" alt="Avatar di default">
                            </div>
                        </div>
                        @foreach (var uploadedAvatar in Model.UploadedAvatars)
                        {
                            <div style="position: relative;width:110px;height:110px;">
                                <div class="avatar" style="width:100px;height:100px;" onclick="Redirect('/Customize/SetAvatar?imagePath=@uploadedAvatar.Item1')">
                                    <img src="@uploadedAvatar.Item2" alt="Avatar personalizzato">
                                </div>
                                <a href="/Customize/DeleteAvatar?guid=@uploadedAvatar.Item1" style="position: absolute; right: 10px; bottom: 10px">
                                    <i class="fa fa-lg fa-trash-o"></i>
                                </a>
                            </div>
                        }

                        <form asp-controller="Customize" asp-action="UploadAvatar" id="UploadAvatarForm" enctype="multipart/form-data">
                            <div style="text-align:center; position: relative;width:100px;height:100px;" class="avatar">
                                    <input type="file" name="imageFile" id="upload8" class="upload pictures-wall" />
                                    <div for="upload8" style="width:90px;height:90px;border-radius:50%">
                                        <div class="fa fa-camera" style="color:rgba(48,64,192,.7);font-size:2.5em;"></div>
                                        <div>Carica foto</div>
                                    </div>
                             </div>
                            <input value="Submit" type="submit" class="d-none" />
                        </form>
                    </div>
                </li>
                <li class="header">
                    <h6>Avatar Stilizzati</h6>
                </li>
                <li>
                    <div class="mt-2 d-flex flex-wrap gap-4 avatar-grid">
                        @for (int i = 1; i <= 21; i++)
                        {
                            <div style="position: relative;width:110px;height:110px;">
                                @*<a href="/Customize/SetAvatar?imagePath=/images/avatars/noavatar@(@i).png">*@
                                <div class="avatar" style="width:100px;height:100px;" onclick="Redirect('/Customize/SetAvatar?imagePath=/images/avatars/simple/noavatar@(@i).png')">
                                    <img src="/images/avatars/simple/noavatar@(@i).png" alt="Avatar di default @i">
                                </div>
                                @*</a>*@
                            </div>
                        }
                    </div>
                </li>
                <li class="header">
                    <h6>Colori</h6>

                </li>
                <li>
                    <div class="mt-2 d-flex flex-wrap gap-4 avatar-grid">
                        @for (int i = 0; i <= 6; i++)
                        {
                            <div style="position: relative;width:110px;height:110px;">
                                @*<a href="/Customize/SetAvatar?imagePath=/images/avatars/noavatar@(@i).png">*@
                                <div class="avatar" style="width:100px;height:100px;" onclick="Redirect('/Customize/SetAvatar?imagePath=/images/avatars/noavatar@(@i).png')">
                                    <img src="/images/avatars/noavatar@(@i).png" alt="Avatar di default @i">
                                </div>
                                @*</a>*@
                            </div>
                        }
                    </div>
                </li>
            </ul>
 
        </div>

      
    </div>
</div>

