@page
@using OpenDMS.TenantManager.API.DTOs;
@model TenantCreationDTO

<style>
    h2
    {
        font-size:1.4em;
    }
    .card
    {
        border:none;
        padding:0;
        margin: 0;
        margin-bottom: 24px;
    }
    .Row 
    {
        min-height:32px;
        margin:4px 0;
        display:flex;
        flex-direction:row;
        border-bottom: 1px dotted #ddd;
    }
    .Row label {
        display:flex;
        min-width:30%;
        max-width: 100px;
        overflow: hidden;
        text-overflow:ellipsis;
    }

    .Row span {
            display: flex;
            min-width: max(70%, 100px);
        max-width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .Row span *
            {
            display:flex;
            flex-grow:1;
        }

            .Row span input[type=checkbox] {
                display: inline;
                flex-grow: 0;
            }

</style>
<div>
    <h1><i class="fa fa-database"></i> Nuovo Tenant</h1>
</div>
<div style="position:relative;display:flex;flex-direction:column">

    <form method="Post" style="width:100%">

        <div style="margin-bottom:10px">
            <h2>Dati Generali</h2>
            <div class="card">
                <div class="Row">
                    <label><b>Identificativo</b></label>
                    <span><input name="Id" value="@Model.Id" /> </span>
                </div>
                <div class="Row">
                    <label>Descrizione</label>
                    <span><input name="Description" value="@Model.Description" /> </span>
                </div>
                <div class="Row">
                    <label>URL</label>
                    <span><input name="URL" value="@Model.URL" /> </span>
                </div>
                <div class="Row">
                    <label>Provider</label>
                    <span><select name="Provider">
                            <option selected=@(Model.Provider=="mysql") value="mysql">Oracle MySql/MariaDB</option>
                            <option selected=@(Model.Provider=="sqlserver") value="sqlserver">Microsoft SqlServer</option>
                        </select>
                    </span>
                </div>
                <div class="Row">
                    <label>Nome Database</label>
                    <span><input name="ConnectionString" value="@Model.ConnectionString"  /> </span>
                </div>
                <div class="Row">
                    <label>Online</label>
                    <span><input type="checkbox" name="Offline" value="true" @(Model.Offline ? "" : "checked") /> </span>
                </div>
            </div>
            <h2>Identity Access Manager</h2>
            <div class="card">
                <div class="Row">
                    <label>Realm</label>
                    <span><input name="Realm" value="@Model.Realm" /> </span>
                </div>
                <div class="Row">
                    <label>Client Id</label>
                    <span><input name="ClientId" value="@Model.ClientId" /> </span>
                </div>
                <div class="Row">
                    <label>Client Secret</label>
                    <span><input name="ClientSecret" value="@Model.ClientSecret" /> </span>
                </div>
            </div>
        </div>

        <div style="margin-bottom:20px">
            <button type="submit" class="btn btn-success">Crea</button>
            <a href="/" class="btn btn-light">Annulla</a>
        </div>
    </form>

</div>