@page
@model Web.Pages.PostSaveModel
@using OpenDMS.Domain.Entities;
@using OpenDMS.Domain.Enumerators;
@{
}
<div class="Header">
    <i class="fa fa-check"></i>
    <h1>
        <small>
            @(
                Model.Document.DocumentType.ContentType == ContentType.Template
                ? "Nuovo Template"
                : Model.Document.DocumentType.ContentType == ContentType.Folder
                ? "Nuovo Fascicolo"
                : Model.Document.DocumentType.ContentType == ContentType.Form
                ? "Nuovo Modulo Digitale"
                : Model.Document.DocumentType.ContentType == ContentType.DMN
                ? "Nuova Matrice Decisionale"
                : Model.Document.DocumentType.ContentType == ContentType.Workflow
                ? "Nuova Definizione di Processo"
                : Model.Document.DocumentType.ContentType == ContentType.Report
                ? "Nuova Definizione di Report"
                : "Nuovo Documento"
                );

        </small>
        <span>@Model.Document.DocumentType.Name</span>
    </h1>
    <div class="right-header">
        <ul class="nav nav-toolbar">
            <li class="tbReduce hidden"><a href="#" onclick="return ReduceView(this)"><i class="fa fa-compress"></i></a></li>
            <li class="tbExpand Desktop"><a href="#" onclick="return ExpandView(this)"><i class="fa fa-expand"></i></a></li>
            <li>
                <a href="#" class="btn btn-link" onclick="return CloseWindow()"><i class="fa fa-times"></i></a>
            </li>
        </ul>
    </div>
</div>


<div id="postsave" class="Panel">
    <div style="text-align:center" class="Panel">
        <div class="InfoPanel">
            @* <img id="QRCodePratica" src="/internalapi/qrcode/@Model.Document.Id" /> *@
            <i style="color:limegreen" class="fa fa-check"></i>
            <h3>La tua istanza è stata sottomessa</h3>
            <p>L'Identificativo Univoco associato è:</p>
            <h1>@Model.Document.Id</h1>

            <a href="/?id=@Model.Document.Id&ModalView=S"  class="btn btn-outline-primary">
                <span class="fa fa-info-circle"></span> Clicca qui per visualizzare la scheda del documento acquisito
            </a>
        </div>
        <br />
        @if (Model.Document.ContentType != ContentType.Folder && Model.Document.Image == null)
        {
            <p>
                Il documento non ha un file associato.
                <a href="#" id="upload" onclick="return AddFile(@Model.Document.Id)"> Clicca qui per caricare un file...</a>
            </p>
        }
    </div>
    <div class="Bottom" style="flex-direction:column;position:relative;padding-left:80px;">
        <i class="fa fa-spin fa-spinner" style="position:absolute;font-size:2.5em;left:30px;top:15px;"></i>
        <strong>Sto verificando la presenza di nuove attività...</strong>
        <small>
            Se non vuoi attendere puoi chiudere questa finestra.
            Le nuove attività saranno disponibili nel menu <span class="fa fa-bell"></span> <b>Attività</b>
        </small>
        <a href="#" id="nuovotask" class="hidden btn btn-outline-primary"><span class="fa fa-tasks"></span> Hai <b>1</b> nuova attività</a>
    </div>
    <div class="Bottom">
        <a href="#" class="btn btn-link" onclick="CloseWindow()">Esci</a>
    </div>
</div>



<script>
    function checkTask() {
        $("#nuovotask").addClass("hidden");
        var timer = window.setTimeout(() => {
            /* Verifica se ci sono task utente */
            fetch("/internalapi/wf/getProcessTasks/@Model.Document.Id")
                .then(response => { return response.json(); })
                .then(data => {
                    /*
                     * dovrebbe ritornare l'id del processo da monitorare
                     * In assenza di Id l'azione potrebbe avere inviato un messaggio
                     * Se la proprietà Error non è vuota, viene mostrato l'errore.
                     */
                    if (data.length) {
                        $("#nuovotask").removeClass("hidden");
                        $("#nuovotask").attr("href", "/Tasks/Task?tid=" + data[0].id + "&pik=" + (@Model.Document.Id ? @Model.Document.Id : ""));
                        window.location.href = "/Tasks/Task?tid=" + data[0].id + "&pik=" + (@Model.Document.Id ? @Model.Document.Id : "");
                    }
                    else
                        checkTask();
                })
        }, 1000)
    }
    checkTask();

    function showtask(id, pik) {
        if (id) {
            window.location.href = "/Tasks/Task?tid=" + id + "&pik=" + (pik ? pik : "");
        }
    }
</script>